<h1>{{ item.name }}</h1>

<ng-form>
  <div>
    <label for="name">Name:</label><br />
    <input type="text" id="name" ng-model="item.name"
           size="80" />
  </div>
  <div>
    <label for="description">Description:</label><br />
    <textarea id="description" ng-model="item.description"
              cols="80" rows="25"></textarea>
  </div>
  <button ng-if="queue_item._source.editor == name"
          ng-click="save()">Save</button>
  <p ng-if="queue_item._source.editor && queue_item._source.editor != name">
    Claimed by {{ queue_item._source.editor }}.
  </p>
  <p ng-if="!queue_item._source.editor">
    Unclaimed.
  </p>
</ng-form>
