<h1>PieceMeta queue</h1>

<ng-form>
  <div>
    <label for="query">Query:</label>
    <input type="text" id="query" ng-model="query"
           ui-keypress="{'enter':'search($event)'}"
           size="40" />
  </div>
</ng-form>

<p>
  Showing {{ from + 1 }} through {{ min(from + size, count) }} of {{ count }}:
</p>

<ol start="{{ from + 1 }}" style="margin-left: 3em;">
  <li ng-repeat="item in queue">
    <a href="#/detail/{{ item._source.id }}">{{ item._source.name }}</a>
  </li>
</ol>

<a ng_if="from > 0"
   href="#{{ path }}?from={{ max(from - size, 0) }}&size={{ size }}&q={{ query }}">
  Previous</a>

<a ng-if="from + size < count"
   href="#{{ path }}?from={{ from + size }}&size={{ size }}&q={{ query }}">
  Next</a>
