<h1>PieceMeta queue</h1>

<ng-form>
  <div>
    <label for="query">Query:</label>
    <input type="text" id="query" ng-model="query"
           ui-keypress="{'enter':'search($event)'}"
           size="40" />
  </div>
</ng-form>

<p>
  Showing {{ from + 1 }} through {{ min(from + size, count) }} of {{ count }}:
</p>

<table>
  <thead>
    <tr>
      <th><!-- index --></th>
      <th>Editor</th>
      <th>PieceMeta</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in queue">
      <td>{{ from + $index + 1 }}</td>

      <td ng-if="item._source.finished">finished</td>
      <td ng-if="!item._source.finished && item._source.editor">
        {{ item._source.editor }}
      </td>
      <td ng-if="!item._source.editor">
        <button ng-click="claim(item)">
          Claim
        </button>
      </td>

      <td>
        <a href="#/detail/{{ item._source.id }}">{{ item._source.name }}</a>
      </td>
    </tr>
  </tbody>
</table>

<a ng_if="from > 0"
   href="#{{ path }}?from={{ max(from - size, 0) }}&size={{ size }}&q={{ query }}">
  Previous</a>

<a ng-if="from + size < count"
   href="#{{ path }}?from={{ from + size }}&size={{ size }}&q={{ query }}">
  Next</a>

<p><small>(viewing as {{ name }})</small></p>
